<h1>Update User</h1>

 
<h2>Edits for <%= @user.name %></h2>
 
  <form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the User's Name:</label>
    <br>
    <input type="text" name="user[name]" value="<%= @user.name %>">
 
    <br>
    <p>Select an existing item or create a new one below.</p>
 
 
    <h3>Existing Items</h3>
    <% @items.each do |item| %>
      <input type="checkbox" name="user[item_ids][]" id="<%= item.id %>" value="<%= item.id %>" <%='checked' if @user.items.include?(item) %>><%= item.name %></input><br>
    <% end %>
    <br>
 
    <h3>New Item</h3>
    <label>Item Name: </label>
    <br>
    <input type="text" name="item[name]" id="item_name"></input>
    <br><br>
 
    <input type="submit" value="Update User">
  </form>

